<a href="https://colab.research.google.com/github/youngstar152/python_AI_Deeplearning/blob/main/%E5%A3%B2%E3%82%8A%E4%B8%8A%E3%81%92%E4%BA%88%E6%B8%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression as LR #線形回帰モデル
%matplotlib inline

In [54]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
sample=pd.read_csv("sample.csv")
train.head()

     datetime    y week  soldout  ... payday  weather precipitation temperature
0  2013-11-18   90    月        0  ...    NaN       快晴            --        19.8
1  2013-11-19  101    火        1  ...    NaN       快晴            --        17.0
2  2013-11-20  118    水        0  ...    NaN       快晴            --        15.5
3  2013-11-21  120    木        1  ...    NaN       快晴            --        15.2
4  2013-11-22  130    金        1  ...    NaN       快晴            --        16.1

[5 rows x 12 columns]

In [55]:
x_train = pd.get_dummies(train[["week", "temperature"]])
x_train.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

In [56]:
y_train = train["y"]

In [57]:
y_train

0       90
1      101
2      118
3      120
4      130
      ...
409     59
410     50
411     45
412     56
413     40
Name: y, Length: 414, dtype: int64

In [58]:
#線回帰モデルの定義
model = LR()

#説明変数と目的変数を設定し、学習
model.fit(x_train, y_train)

#傾きの確認
model.coef_

#切片の確認
model.intercept_

135.69119841401604

In [59]:
# datetimeを分割して設定
train['year'] = train['datetime'].apply(lambda x : x.split('-')[0])
train['month'] = train['datetime'].apply(lambda x : x.split('-')[1])
train['day'] = train['datetime'].apply(lambda x : x.split('-')[2])
test['day'] = test['datetime'].apply(lambda x : x.split('-')[2])
test['year'] = test['datetime'].apply(lambda x : x.split('-')[0])
test['month'] = test['datetime'].apply(lambda x : x.split('-')[1])

# 新規で定義したカラムのデータ型はobject型になってしまうため、int型へ変換する
train['year'] = train['year'].astype(np.int)
train['month'] = train['month'].astype(np.int)
train['day'] = train['day'].astype(np.int)
test['day'] = test['day'].astype(np.int)
test['year'] = test['year'].astype(np.int)
test['month'] = test['month'].astype(np.int)

In [60]:
train=train.fillna(0)
train

       datetime    y week  soldout  ... temperature  year month day
0    2013-11-18   90    月        0  ...        19.8  2013    11  18
1    2013-11-19  101    火        1  ...        17.0  2013    11  19
2    2013-11-20  118    水        0  ...        15.5  2013    11  20
3    2013-11-21  120    木        1  ...        15.2  2013    11  21
4    2013-11-22  130    金        1  ...        16.1  2013    11  22
..          ...  ...  ...      ...  ...         ...   ...   ...  ..
409   2014-9-24   59    水        1  ...        24.8  2014     9  24
410   2014-9-25   50    木        0  ...        25.4  2014     9  25
411   2014-9-26   45    金        0  ...        27.1  2014     9  26
412   2014-9-29   56    月        1  ...        26.6  2014     9  29
413   2014-9-30   40    火        0  ...        28.1  2014     9  30

[414 rows x 15 columns]

In [61]:
x_train = pd.get_dummies(train[["week","weather", "temperature"]])
x_train.head()

   temperature  week_月  week_木  ...  weather_雨  weather_雪  weather_雷電
0         19.8       1       0  ...          0          0           0
1         17.0       0       0  ...          0          0           0
2         15.5       0       0  ...          0          0           0
3         15.2       0       1  ...          0          0           0
4         16.1       0       0  ...          0          0           0

[5 rows x 13 columns]

In [62]:
def remark(x):
  if x==0:
    return 0
  else:
    return 1

In [63]:
def remark1(x):
  if x=="月":
    return 0
  elif x=="火":
    return 1
  elif x=="水":
    return 2
  elif x=="木":
    return 3
  else:
    return 4

In [64]:
def remark2(x):
  if x=="快晴":
    return 0
  elif x=="晴れ":
    return 1
  elif x=="薄雲":
    return 2
  elif x=="曇り":
    return 3
  elif x=="雨":
    return 4
  else:
    return 5

In [65]:
train['event1'] = train['event'].apply(lambda x : remark(x))
test['event1'] = test['event'].apply(lambda x : remark(x))
train['week1'] = train['week'].apply(lambda x : remark1(x))
test['week1'] = test['week'].apply(lambda x : remark1(x))
train['weather1'] = train['weather'].apply(lambda x : remark2(x))
test['weather1'] = test['weather'].apply(lambda x : remark2(x))

In [66]:
train

       datetime    y week  soldout  ... day  event1 week1 weather1
0    2013-11-18   90    月        0  ...  18       0     0        0
1    2013-11-19  101    火        1  ...  19       0     1        0
2    2013-11-20  118    水        0  ...  20       0     2        0
3    2013-11-21  120    木        1  ...  21       0     3        0
4    2013-11-22  130    金        1  ...  22       0     4        0
..          ...  ...  ...      ...  ...  ..     ...   ...      ...
409   2014-9-24   59    水        1  ...  24       0     2        5
410   2014-9-25   50    木        0  ...  25       0     3        5
411   2014-9-26   45    金        0  ...  26       1     4        1
412   2014-9-29   56    月        1  ...  29       0     0        0
413   2014-9-30   40    火        0  ...  30       0     1        0

[414 rows x 18 columns]

In [68]:
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import CategoricalNB
ALPHA = 1e-10
x_train = train[["month","week1", "weather1","temperature","event1"]]
x_test = test[["month","week1", "weather1","temperature","event1"]]
y_train = train["y"]
#model = LR()
model = CategoricalNB(alpha=ALPHA)
#model = MLPClassifier(solver="sgd", random_state=0, max_iter=3000)
model.fit(x_train, y_train)
pred = model.predict(x_test)
pred

array([ 54,  49,  56,  56,  54, 126,  54,  56,  56,  54, 100, 126,  45,
        70,  54, 100, 106,  70,  56,  56,  56,  70,  90, 145,  54,  45,
        56, 145, 145,  90, 118, 135, 145, 145, 145, 116,  70, 145, 120,
        85])